USE [Mix_Portal]
GO
/****** Object:  StoredProcedure [dbo].[IRIS_INSERT_POST_SPACEBOOKING]    Script Date: 24-09-2024 15:57:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER
PROCEDURE [dbo].[IRIS_INSERT_POST_SPACEBOOKING]
(
	
    @pACTIVITY_ID float, 
	@pACTIVITY_NAME VARCHAR(200), 
	@pACTIVITY_TYPE VARCHAR(200), 
	@pDESCRIPTION VARCHAR(4000), 
	@pSTART_DATE VARCHAR(100),
	@pEND_DATE VARCHAR(100), 
	@pSPACE VARCHAR(100),
	@pPARTICIPANTS VARCHAR(100),
	@pSTATUS VARCHAR(100),
	@P_RECENT_ID FLOAT OUT
) as
 begin 

declare @INEXTVAL FLOAT =0;

 
set nocount on;

    select @iNextVal = NEXT VALUE for SEQ_ID;
    INSERT INTO IRIS_BOOKING_SPACE(SB_ID,ACTIVITY_ID,ACTIVITY_NAME, ACTIVITY_TYPE, DESCRIPTION, START_DATE, END_DATE, SPACE, PARTICIPANTS,STATUS,CREATED_ON)
    VALUES
    (
        @INEXTVAL, @pACTIVITY_ID, @pACTIVITY_NAME, @pACTIVITY_TYPE, @pDESCRIPTION,
        @pSTART_DATE, @pEND_DATE, @pSPACE, @pPARTICIPANTS,@pSTATUS,CONVERT(CHAR(10), GETDATE(), 101)
    );

    set @P_RECENT_ID =@INEXTVAL;
    

END;
