ALTER
PROCEDURE [dbo].[IRIS_GET_CHALLENGE]
(
   @P_CHALLENGE_ID varchar(50)
   
) 
AS
BEGIN
SET NOCOUNT ON;
	if @P_CHALLENGE_ID = 'A' begin
		select * from POST_CHALLENGE A where CONVERT(DATETIME, A.END_DATE,103) >= Convert(DATETIME, GETDATE(),103) And CONVERT(DATETIME, A.START_DATE,103) <= Convert(DATETIME, GETDATE(),103); --Active
	end
	if @P_CHALLENGE_ID = 'U' begin
		select * from POST_CHALLENGE A where CONVERT(DATETIME, A.START_DATE,103) >= Convert(DATETIME, GETDATE(),103);
	end
	if @P_CHALLENGE_ID = 'C' begin
		select * from POST_CHALLENGE A where CONVERT(DATETIME, A.END_DATE,103) < Convert(DATETIME, GETDATE(),103);
	end
	if @P_CHALLENGE_ID = 'ALL' begin
		select CHALLENGE_ID,CHALLENGE_TITLE,DOMAIN,DESCRIPTION,TARGET_AUDIENCE,START_DATE,END_DATE,STATUS,CHALLENGE_IMAGE,CREATED_ON,
		CASE WHEN CONVERT(DATETIME, A.END_DATE,103) >= Convert(DATETIME, GETDATE(),103) And CONVERT(DATETIME, A.START_DATE,103) <= Convert(DATETIME, GETDATE(),103) THEN 'Active' 
		WHEN CONVERT(DATETIME, A.START_DATE,103) >= Convert(DATETIME, GETDATE(),103) THEN 'Upcoming'
		WHEN CONVERT(DATETIME, A.END_DATE,103) < Convert(DATETIME, GETDATE(),103) THEN 'Completed'
		ELSE '' END AS ACTIVESTATUS
		from POST_CHALLENGE A order by CHALLENGE_ID DESC;
	end

END;


